:root {
  --pink-color: #e26e70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  height: 150px;
}
.row {
    display: flex;
    max-width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

header {
    background-color:#FFA5E4;
    padding: 10px 0 10px 0;
}


.numbertext {
  background-color: #626065;
  height: 50px;
  width: 100px;
  border-radius:10px;
  text-align: center;
  padding-top: 12px;
  margin:auto;
  font-weight:700;
  color:#20e3b2;
  margin-bottom: 10px;
}
body a:hover {
  color: aqua;
}
body a {
    text-decoration: none;
    color:black;
    font-size:20px;
}
body p {
  margin: 10px 0 10px 0;
}
.title h3 {
  font-size: 32px;
  text-decoration: underline;
  color: #000;
}

.menu ul li{
    float: left;
    margin-left: 20px;
    list-style: none;
}

.menu ul li a{
  float: left;
  margin-left: 20px;
  list-style: none;
  padding-top: 10px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul.menu-child {
    margin-top: 35px;
    position: absolute;
    width: 225px;
    background-color: #FFA5E4;
}
ul.menu-child li {
    padding-bottom: 15px;
    float: none;
    display: none;
    margin: auto;
}
.menu ul li:hover ul.menu-child li{
    display:block;
    transform:1s;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.0s;
}

@keyframes fade {
  from {opacity: 0.7} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */

/* end slider */
.slider-margin {
    margin-top: 20px;
}




.cards {
  --spacing: 25px;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
}
@media screen and (max-width: 1023px) {
  .cards {
    --columns: 2;
  }
}
@media screen and (max-width: 767px) {
  .cards {
    --spacing: 15px;
    --columns: 1;
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}
.card-image {
  display: flex;
  margin: auto;
  justify-items: center;
  align-items: center;
  padding-top:20px;
  height: 150px;
  width: 150px;
}
.card-top {
  padding: 25px;
}
.card-title {
  font-weight: 500;
  margin-bottom: 25px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: brown;
}
.card-user {
  display: flex;
  align-items: center;
}
.card-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.card-user-info {
  padding-left: 20px;
  flex: 1;
}
.card-user-top {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.card-user-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}
.card-user-top ion-icon {
  color: #20e3b2;
  margin-left: 5px;
}

.card-user-game {
  
  font-weight: 700;
  font-size: 13px;
}
.card-bottom {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-live {
  font-weight: 700;
  color: yellow;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ff6651;
}
.card-live span {
  margin-left: 10px;
  font-size: 14px;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-user,
.card-bottom {
  margin-top: auto;
  flex-shrink: 0;
}
.card {
  display: flex;
  flex-direction: column;
}

.buy{
    border: solid 1px #000;;
    display: inline-block;
    border-radius: 10px; 
    background: #fff;
    color: #000;
    cursor: pointer;
}

.cart-buy{
  border-radius: 30px;
  width: 200px;
  height: 50px;
  background-color: #8c5b07;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.25s;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.hide{
  display: none;
}

.modal__inner {
  width: 450px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  animation: showModal linear 0.2s;
  position: relative;
  margin: 200px auto;
}

@keyframes showModal {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal__header {
  background-color: var(--pink-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 23px;
  font-weight: 700;
}

.modal__body {
  padding: 15px;
}

.modal__body h2 {
  color: var(--pink-color);
  margin-bottom: 10px;
}

.modal__footer {
  padding: 15px;
  text-align: right;
}

.modal__footer p{
  font-size: 20px;
  font-weight:500;
  float: left;
}

.modal__footer button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: var(--pink-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

i {
  cursor: pointer;
  font-size: 18px;
}

